PySide6
python-osc
keyboard
psutil
winrt-Windows.Media.Control
winrt-Windows.Foundation
websocket-client
pyperclip
flask
nvidia-ml-py
tendo
requests
faster-whisper
sounddevice
numpy
zeroconf
deep-translator
